.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

.nav{
    padding: 1rem;
    background-color: rgba(255,255,255,0);
    // background-color: rgba(255,255,255,0.3);
    // backdrop-filter: blur(20px);
    align-items: center;
    justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
}

li{
    padding: 0 0.5rem;
}